/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Reset End */

body {
    background-color: #F7F8FA;
    font-family: 'Sora', 'Helvetica', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #293372;
}

h1 {
    font-size: 4em;
    line-height: 1.25;
    font-weight: 700;
    margin: 2rem 0;
}

h2 {
    font-size: 2em;
    line-height: 1.25;
}

#dimm {
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    overflow: auto;
    display: none;
    z-index: 1;
}

#popupWrapper, #widget {
    background-color: white;
    border-radius: 2.25rem;
    box-shadow: 0px 0px 25px 0px rgba(41,51,114,0.12);
    text-align: center;
}

#popup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

#widget {
    width: 60%;
    max-width: 620px;
    padding: 1.55em 0.75em 0;
    margin: 96px auto;
}

#widgetContentsWrapper {
    transform: translate(0, -2.25em);
}

#popupWrapper {
    width: 40%;
    max-width: 540px;
    margin: 60px auto;
    padding: 2em;
}

#iconSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    transform: translate(0, -1.5em);
}

.icon {
    width: 84px;
    min-width: 84px;
    max-height: 84px;
    height: 84px;
    min-height: 84px;
    max-height: 84px;
    border-radius: 1.5rem;
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 64px;
    cursor: pointer;
    box-shadow: 0px 0px 13px 0px rgba(41,51,114,0.08);
}

#icon, #icon1 {
    background-color: #FCDFDF;
}

#icon2 {
    background-color: #D6D6D6;
}

#icon3 {
    background-color: #C2EDF3;
}

#icon1, #icon2, #icon3 {
    margin: 1.55em .55em;
}

.emoji {
    font-size: 1.25em;
    cursor: pointer;
    transition: all .15s ease-out;
}

.emojiHover {
    font-size: 1.5em;
}

.edit {
    font-size: .5em;
    letter-spacing: .33em;
    text-transform: uppercase;
    transition: inherit;
}


#playersContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#p1, #p2 {
    text-align: center;
    flex-basis: 160px;
    flex-grow: 1;
    margin: 0.75em;
    border-radius: 1.5rem;
    background-color: rgba(41,51,114,0.04);
    padding: 1.55em .88em;
    transition: all .15s ease-out;
}

input, select {
    height: 2.25em;
    border: 0;
    border-radius: 1.75em;
    background-color: rgba(41,51,114,0);
    color: #293372;
    font-family: 'Sora', 'Helvetica', sans-serif;
    font-size: 1em;
    font-weight: 800;
    line-height: 1.25;
    text-align: center;
    transition: all .15s ease-out;
    outline: none;
    -webkit-appearance:none;
}

input {
    width: 100%;
    margin: 0;
}

select {
    padding: 0 1.55em 0;
    margin: .5em 0 1.55em;

}

input:hover, input:focus, input:active, select:hover, select:focus, select:active {
    border: 0;
    background-color: rgba(41,51,114,0.16);
    outline: none;
}

button {
    width: 100%;
    height: 3.25em;
    border: 0;
    border-radius: 1.75em;
    background-color: #293372;
    color: #ffffff;
    font-family: 'Sora', 'Helvetica', sans-serif;
    font-size: 1em;
    font-weight: 800;
    line-height: 1.25;
    cursor: pointer;
    transition: all .15s ease-out;
}

button:hover, button:active {
    background-color: #374499;
} 

button:disabled {
    background-color: #5F658C;
    color: rgba(255,255,255,0.65);
    cursor: not-allowed;
}

.link {
    margin-top: 1.55em;
}

a, a:visited  {
    color: #F05050;
    text-decoration: none;
    transition: all .15s ease-out;
}

a:hover, a:active {
    text-decoration: underline;
    text-decoration-thickness: .2em;
}

#resetMobile {
    display: none;
}


#footer {
    transform: translate(0, -6em);
    line-height: 1.5;
    font-size: .66rem;
}

.subtitle {
    text-align: center;
    font-size: .66em;
    opacity: .4;
}

.subtitle a, .subtitle a:visited, .subtitle a:hover, .subtitle a:active {
    color: #293372;
}

@media (max-width: 730px) {
    #widget {
        width: 80%;}
    
    #popupWrapper {
        width: 60%;}
    
}

@media (max-width: 480px) {
    #icon1, #icon2, #icon3 {
        margin: 1.55em 2.5em;
    }

    #resetMobile {
        display: inline;
    }

    #widgetSubt {
        display: none;
    }
    
}